@import "../../core/sass/breakpoints.scss";
@import "../../core/sass/variables.scss";

.Breadcrumbs {
  display: flex;
  align-items: center;
  font-size: 0.7rem;
  gap: .5rem;
  flex-wrap: wrap;

  &__item {
    white-space: nowrap;
  }

  @media screen and (max-width: $mobile-sm) {
    &__item {
      max-width: 9rem;
      text-overflow: ellipsis;
      overflow: hidden;
    }
  }
}